recentf
ac-comphist.dat
auto-save-list
backups/*
straight
projectile-bookmarks.eld
network-security.data
history
eshell
elscreen
elpa
elisp-objects
el-get
bookmarks
.cache
transient
.persistent-scratch